@import './base.css';

/* 全局样式优化 */
body {
  font-family: 'Noto Sans SC', sans-serif;
  color: #333;
  background-color: #f8f9fa;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;   /* 宽度占视口的 80% */
  height: 100vh;  /* 高度占视口的 80% */
  padding: 2rem;
  font-weight: normal;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;   /* 让内容更有弹性布局 */
  flex-direction: column;
  justify-content: center; /* 垂直居中内容 */
  align-items: center; /* 水平居中内容 */
}


/* 链接样式优化 */
a, .green {
  text-decoration: none;
  color: #2a9d8f;
  transition: all 0.3s ease-in-out;
  padding: 4px 6px;
  border-radius: 4px;
}

a:hover {
  background-color: rgba(42, 157, 143, 0.2);
  box-shadow: 0 2px 4px rgba(42, 157, 143, 0.2);
}

/* 响应式布局优化 */
@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  #app {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 2rem;
  }
}